/* For the whole app */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:Klavika Basic;
  }
  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* header */
  .top {
    background-color: #009de0;
    box-shadow:0px 5px 5px #D3D3D3;	
    font-size: 15px;
    display: flex;
  }
  
  /* for the .top (header) h1 basically */
  .container-center {
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
  }
  
  /* h1 in header */
  .top h1 {
      margin: 5px;
      color: white;
      font-size: 2.5em;
  }
  
  #clockbox {
    margin: 5px;
    color: white;
    font-size: 5px;
  }
  /* for the letters */
  #github_code {
    float: right;
    color: white;
    /*font-weight: bold;*/
    font-size: 13px;
    margin: 5px;
  }
  
   /* for the link */
  #github_code a {
    color: white;
  }

  /* logo in the header */
  #psem-logo {
    display: block;
    width: 7%;
    /*margin: 0 auto;*/
    float: left;
    margin-left:8px;
    margin-top:7px;
    margin-bottom: 5px;
    margin-right: 5px;
  }